



.container-registerform {
    position: relative;
    max-width: 900px;
    border-radius: 6px;
    margin: 50px auto;
    width: auto;
    height:auto;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    align-items: center;
}

    .container-registerform header {
        position: relative;
        font-size: 20px;
        font-weight: 600;
        color: #333;
    }

        .container-registerform header::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            height: 3px;
            width: 27px;
            border-radius: 8px;
            background-color: #4070f4;
        }

    .container-registerform form {
        position: relative;
        margin-top: 16px;
        min-height: 1000px;
        background-color: #fff;
        overflow: hidden;
    }

        .container-registerform form .form {
            position: absolute;
            background-color: #fff;
            transition: 0.3s ease;
        }
.container-registerform form .title {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: #333;
}

.container-registerform form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

    form .fields .input-field {
        display: flex;
        width: calc(100% / 3 - 15px);
        flex-direction: column;
        margin: 4px 0;
    }

    .input-field label {
        font-size: 12px;
        font-weight: 500;
        color: #2e2e2e;
    }

    .input-field input, select {
        outline: none;
        font-size: 14px;
        font-weight: 400;
        color: #333;
        border-radius: 5px;
        border: 1px solid #aaa;
        padding: 0 15px;
        height: 42px;
        margin: 10px 0;
    }

        .input-field input :focus,
        .input-field select:focus{
            box-shadow: 0 3px 6px rgba(0,0,0,0.13);
        }

        .input-field select,
        .input-field input[type="date"] {
            color: #707070;
        }

            .input-field input[type="date"]:valid {
                color: #333;
            }


    form button:hover {
        background-color: #265df2;
    }

    form button i {
        margin: 0 6px;
    }


    form .buttons {
        display: flex;
        align-items: center;
    }

    @media (max-width: 750px) {
        .container-registerform form {
            overflow-y: scroll;
        }

            .container-registerform form::-webkit-scrollbar {
                display: none;
            }

        form .fields .input-field {
            width: calc(100% / 2 - 15px);
        }
    }

    @media (max-width: 550px) {
        form .fields .input-field {
            width: 100%;
        }
    }

.school select {
    width: 700px;
}
.school, .text-area{
    margin: 20px 0 0 0;
}

textarea {
        width: 700px;
        height: 200px;
        outline: none;
        font-size: 14px;
        font-weight: 400;
        color: #333;
        border-radius: 5px;
        border: 1px solid #aaa;
    }
.input-img input{
        width: 700px;
        padding: 2px 3px;
}
.content {
    padding: 100px 100px 100px 100px
}

.username input, .password input{
    width: 700px;
}


