@{
    Layout = "_Layout";
}
<!-- slider-start -->
<div class="container">
    <div>
        <div class="item">
            <div class="slider-img"> <img src="~/oil-gas/images/Banner.jpg" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <div class="slider-captions">
                            <h1 class="slider-title">Oil &amp; Gas Careers</h1>
                            <p class="slider-text hidden-sm hidden-xs">
                                Fuel your Career.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.slider -->
<!-- service block-->
<!-- /.service-block -->
<!-- about -->
<div class="container">
    <div class="about-section">
        <div class="space-small">
            <div class="row">
                <div class="col">
                    <div class="section-title">
                        <!-- section title-->
                        <span class="small-title">About us</span>
                        <p class="lead">We are the biggest company in the world</p>
                    </div>
                    <!-- /.section title-->
                </div>
            </div>
            <div class="row">
                <!-- feature -->
                <div class="col">
                    <div class="feature-block">
                        <div class="feature-content">
                            <h3>We help companies create and improve industry products and services through long lasting and mutually rewarding relationships.</h3>
                            <img src="~/oil-gas/images/features.jpg">
                            <p>
                                Webster is designed for industrial, oil and gas, manufacturing, mechanical, power and energy, engineering & Multipurpose Business.



                                Webster is a leading international service organization focused on high pressure hoses and fluid connectors providing products and application engineering knowledge, as well as maintenance services, to all market segments through a global network tailored to local conditions.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /.feature -->
            </div>
        </div>
    </div>
</div>
<!-- job block-->
<div class="container">
    <div class="wrapper">
        <div class="space-small">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <!-- section title-->
                        <span class="small-title">Looking for a job in the Oil and Gas industry?</span>
                        <h2>Job in the Oil and Gas industry</h2>
                    </div>
                    <!-- /.section title-->
                </div>
            </div>
            <div class="row">
                <!-- project -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="project-block">
                        <div class="project-img"><img src="~/oil-gas/images/Project Management.jpg" alt="" class="img-responsive"></div>
                        <div class="project-content">
                            <h3><a href="#">Find your new career in Oil and Gas</a></h3>
                            <p class="job-content">
                                <strong>✔ Get guidance through every step</strong><br>
                                From presenting the potential job opportunity, resume and interview coaching, salary negotiations and onboarding, we’re with you every step of the way.&nbsp;<br>
                                <br>
                                <strong>✔ Work with major industry leaders</strong><br>
                                We work with some of the most well-known multinational clients in the world.<br>
                                <br>
                                <strong>✔ Find roles that fit your specific skills and desires</strong><br>
                                We work within a broad scope of positions. Read more about popular roles in Oil and Gas below.<br>
                                <br>
                                <strong>✔ Get the global network you need</strong><br>
                                Our Oil and Gas team has many years of experience connecting the right candidates with employers. Brunel is a global company with a widespread network of successful clients.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.job-block -->
<!-- locations -->
<div class="container">
    <div class="wrapper">
        <div class="space-small">
            <div class="row">
                <div class="col">
                    <div class="section-title">
                        <!-- section title-->
                        <span class="small-title">Our Located Offices</span>
                        <h2>Business loctaions</h2>
                    </div>
                    <!-- /.section title-->
                </div>
            </div>
            <div class="row">
                <!-- location -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="location-block">
                        <div class="location-content">
                            <div class="location-icon"><img src="~/oil-gas/images/map-marker.png" alt=""></div>
                            <h4><a href="#">Ahemedabad</a></h4>
                            <p>21 Scenic way mindale, Ahmedabad, india 62319</p>
                        </div>
                    </div>
                </div>
                <!-- /.location -->
                <!-- location -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="location-block">
                        <div class="location-content">
                            <div class="location-icon"><img src="~/oil-gas/images/map-marker.png" alt=""></div>
                            <h4><a href="#">Baroda</a></h4>
                            <p>81 Frleive Ahemedabad Gujarat, india 605</p>
                        </div>
                    </div>
                </div>
                <!-- /.location -->
                <!-- location -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="location-block">
                        <div class="location-content">
                            <div class="location-icon"><img src="~/oil-gas/images/map-marker.png" alt=""></div>
                            <h4><a href="#">Bharuch</a></h4>
                            <p>285 Kildre Juntion City, Bharuch, india 4748</p>
                        </div>
                    </div>
                </div>
                <!-- /.location -->
                <!-- location -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="location-block">
                        <div class="location-content">
                            <div class="location-icon"><img src="~/oil-gas/images/map-marker.png" alt=""></div>
                            <h4><a href="#">Jamnagar</a></h4>
                            <p>
                                293 Dola Mine Road
                                Jamnagar, india 604
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /.location -->

            </div>
        </div>
    </div>
</div>