<li class="nav-item">
    <a class="nav-link" asp-controller="Manager" asp-action="Dashboard">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Home</span>
    </a>
    <a class="nav-link" asp-controller="Manager" asp-action="AllCandidate">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Candidate Management</span>
    </a>

    <a class="nav-link" asp-controller="Manager" asp-action="AllExam">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Exam Management</span>
    </a>

    <a class="nav-link" asp-controller="Manager" asp-action="AllQnA">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>QnA Management</span>
    </a>

    <a class="nav-link" asp-controller="Manager" asp-action="PassingResult">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Passing Candidate</span>
    </a>
</li>